recipes-apps/Dash_Board/files/dash_board.ui
recipes-kernel/car-ecu-buttons-driver/.vscode
recipes-apps/Dash_Board/.vscode
recipes-connectivity/wpa-supplicant/wpa-supplicant/wpa_supplicant-nl80211-wlan0.conf