[Unit]
Description=dash-board-service-ctl
After=multi-user.target

[Service]
Type=Application
User=root
Environment="DISPLAY=:0"
ExecStart=/home/root/dash_board.py
Restart=on-failure

[Install]
WantedBy=graphical.target
